<link rel="stylesheet" href="/css/gallery.css">

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="<%- "fa fa-images" %>"></i>
                    &nbsp;&nbsp;<%- "我的相册" %>
                </div>
                <% if (site.data && site.data.galleries) { %>
                    <% var galleries = site.data.galleries; %>
                    <div class="gallery-wrapper row">
                        <% for (var i = 0, len = galleries.length; i < len; i++) { %>
                            <% var gallery = galleries[i]; %>
                            
                                <div class="col s12 m6 l4 gallery">
                                    <div class="img-item">
                                        <a href="<%- gallery.name %>" class="gallery-item">
                                            <div class="gallery-cover-box"
                                                style="background-image: url(<%- gallery.cover%>)" data-aos="zoom-in-up">
                                            </div>
                                            <p class="gallery-name">
                                                <%- gallery.name %>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</main>
